.site-header {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pad);
    border-bottom: 1px solid var(--line);
    background: var(--pink);
    border: 1px solid black;
}

.main-nav {
    display: flex;
    gap: 34px;
    margin-left: auto;
    margin-right: 42px;
    font: 11px 'DM Mono', monospace;
    text-transform: uppercase;
}

.main-nav a {
    transition: opacity .2s ease;
}

.main-nav a:hover {
    opacity: .55;
}

@media (max-width: 800px) {
    .site-header {
        height: 70px;
    }

    .main-nav {
        display: none;
    }
}